/* Switch.module.css */

.switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
    overflow: hidden;
  }
  
  .circle {
    width: 45%;
    height: 77%;
    border-radius: 999px;
    transition: transform 0.2s;
  }
  