.select-custum{
    border: solid #8080804a 2px;
    border-radius: 15px;
    width: 80px;
}

.custum-select{
    width: 113px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.6px solid gray;
  }
  
  .title-custum-select{
    color: black;
    font-size: 17px;
    font-weight: 300;
    margin-left: 15px;
  }
  
  .icon-custum-select{
    font-weight: 800;
    font-size: 18px;
    transform: rotate(90deg);
    margin-right: 10px;
  }
  
  .custum-select-dropdown{
    display: none;
    width: 113px;
    border: 1px solid gray;
    z-index: 9999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 1.5px;
    position: absolute;
    background-color: whitesmoke;
  }
  
  .custum-select-dropdown p{
    margin: 0;
    color: black;
    height: 25px;
    width: 100%;
    font-size: 17px;
    font-weight: 300;
  }
  
  .custum-select-dropdown p:hover{
    background-color: #1a73e8;
    color: white;
  }
  
  .search-dropdown{
     width: 100px;
     border-radius: 15px;
     height: 33px;
     margin-bottom: 10px;
     margin-top: 10px;
  }
  
  .dropdown-display{
    display: flex;
    flex-direction: column;
    align-items: center;
  }